.bg{
    background-image: url(../images/retroCity7.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.titlebg{
    background-image: url(../images/RetroButton.png);
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    text-align: center;
    margin: 20px;
    padding-top: 50px;
    padding-bottom: 30px;
}
.txtbg{
    background-image: url(../images/RetroButton.png);
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    margin-bottom: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.txtbg1{
    background-image: url(../images/RetroButton.png);
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 15px;
}
.txtfieldbg{
    background-image: url(../images/RetroButton.png);
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    border: none;

}
@font-face{
    font-family: "sabo-filled";
    src: url(../fonts/Sabo-Filled.otf);;
}

.sabo{
    font-family: "sabo-filled";
    font-size: 40px;
    color: #FFAD00;
}
.saboresult{
    font-family: "sabo-filled";
    font-size: 45px;
    color: #FFAD00;
}
.sabotitle{
    font-family: "sabo-filled";
    font-size: 60px;
    color: #FFAD00;
}

.margin{
 margin: 10px;
}